on fs
    write /proc/bootprof "start mobicore (on fs)"
    mkdir /data/app/mcRegistry 0775 system system
    mkdir /data/app/mcRegistry/TbStorage 0775 system system
/dev/mobicore             0600   system     system
/dev/mobicore-user        0666   system     system

    # MobiCore Daemon Paths
    export MC_AUTH_TOKEN_PATH /efs
    start mobicore
    write /proc/bootprof "start mobicore end (on fs)"

# Start Daemon (Registry directories should already be present)
service mobicore /system/vendor/bin/mcDriverDaemon -r /system/vendor/app/mcRegistry/020f0000000000000000000000000000.drbin -r /system/vendor/app/mcRegistry/05120000000000000000000000000000.drbin -r /system/vendor/app/mcRegistry/070b0000000000000000000000000000.drbin -r /system/vendor/app/mcRegistry/020b0000000000000000000000000000.drbin -r /system/vendor/app/mcRegistry/030b0000000000000000000000000000.drbin -r /system/vendor/app/mcRegistry/05070000000000000000000000000000.drbin
        user root
        group system
        class core
        oneshot
