# HwBinder IPC from clients into server, and callbacks
binder_call(hal_mwis_client, hal_mwis_server)
binder_call(hal_mwis_server, hal_mwis_client)

# give permission for hal client
allow hal_mwis_client mtk_hal_mwis_hwservice:hwservice_manager find;
