# Type Declaration
# ==============================================================================
type mtk_hal_mwis, domain;
type mtk_hal_mwis_exec, exec_type, file_type, vendor_file_type;

#typeattribute mtk_hal_mwis mtkimsapdomain;
# hwbinder access
init_daemon_domain(mtk_hal_mwis)
hwbinder_use(mtk_hal_mwis)
hal_server_domain(mtk_hal_mwis, hal_mwis)
add_hwservice(hal_mwis_server, mtk_hal_mwis_hwservice)

# call into system_server process (callbacks)
binder_call(mtk_hal_mwis, system_server)

# Date : WK1730 2017/7/27
# Operation : IT
# Purpose: MwiService HIDL Migration
allow mtk_hal_mwis debugfs_tracing:file { write open };
allow mtk_hal_mwis hwservicemanager_prop:file { read getattr open };
allow mtk_hal_mwis rild_mwis_socket:sock_file write;
allow mtk_hal_mwis rild_mwis_socket:sock_file read;
allow mtk_hal_mwis mtkrild:unix_stream_socket connectto;
